---
layout: core
---
<div class="breadcrumb-bar">
  <div class="container">
    <ol class="breadcrumb">
      {% if site.morea_head_breadcrumb_link %}
      <li><a href="{{ site.morea_head_breadcrumb_link }}">{{ site.morea_head_breadcrumb_label }}</a></li>
      {% endif %}
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/modules">Modules</a></li>
      <li><a href="{{ site.baseurl }}/modules/{{ page.referencing_modules[0].morea_id }}">{{ page.referencing_modules[0].title }}</a></li>
      <li class="active">{{ page.title }}</li>
    </ol>
  </div>
</div>

{% if page.topdiv == 'container' %}
<div class="container">
  {{ content }}
</div>
{% else %}
{{ content }}
{% endif %}

